<div class="container-fluid">
  <div
    class="row justify-content-center align-items-center text-center Proudctpage-title"
  >
    <div class="col-md-6 mt-5 p-5 aboutusTitle">
      <h1 style="font-size: 40px; display: inline">Products</h1>
      <i class="fa-brands fa-shopify" style="color: #c32865"></i>
      <br />
      <button
        [routerLink]="['/Products/edit', 0]"
        class="btn btn-outline-info mt-3"
      >
        Add Product
      </button>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: black">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-md-2"></div>
    <app-product-item
      *ngFor="let product of Products"
      [myProduct]="product"
      class="col-md-3"
    ></app-product-item>

    <div class="col-md-1"></div>
  </div>
</div>

<!-- Old Code -->
<!-- @for (item of products; track $index) {
    <div class="col-md-3">
      <div class="card">
        <div class="imgBox">
          <img
            src="{{ item.img }}"
            alt="mouse corsair"
            class="mouse"
            width="100px"
            height="200px"
          />
        </div>

        <div class="contentBox">
          <h3>{{ item.name }}</h3>
          <h2 class="price">$ {{ item.price }} €</h2>
          <h3 class="quantity">Quantity : {{ item.quantity }}</h3>
          @switch (item.quantity) { @case (0) {
          <button disabled class="buy btn btn-danger">Out of stock</button>

          } @case (1) {
          <button disabled class="buy btn btn-secondary">1 Left</button>

          } @default {
          <button class="buy btn btn-warning">Add to Cart</button>

          } }
        </div>
      </div>
    </div> }-->
