<!-- <app-slider></app-slider>
<app-products></app-products>
  -->
<!-- <app-navbar (pageEvent)="getPageTitle($event)"></app-navbar> -->

<!-- <ng-container>
  @switch (PageTitle) { @case ("home") {
  <app-slider></app-slider>
  } @case ("store") {
  <app-products></app-products>
  } @case ("student") {
  <app-students></app-students>
  } @default {
  <app-slider></app-slider>

  }}
</ng-container> -->
<!-- <app-footer></app-footer> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </body>
</html>
